<div class="side_ber_header">
  <div class="header_name">
    <a href="#">Tom</a>
  </div>
  <div class="room_create">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side_ber_main">
  <div class="chat_room">
    <div class="room_name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="chat_room">
    <div class="room_name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>