.wrapper {
  display: flex;
}

.side_ber {
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.side_ber_header {
  height: 100px;
  padding: 0 20px;
}

.side_ber_main {
  height: calc(100vh - 100px);
  width: 300px;
  background-color: #2f3e51;
  padding: 0 20px;
}

.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

.main_chat_header {
  height: 100px;
  padding: 0 40px;
}

.chat_main {
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}

.main_chat_footer {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}